body {
    margin: 0;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0
}
.header {
 background-color:  blue;
 color: white;
padding: 10px;

}
.link-list {
    display: flex; 
    justify-content: space-around;
} 
.link {
    color: pink;
    text-decoration: none;
}